{% extends 'managerbase.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <form method="post">
            {% if success %}
            <script>alert('Successfully Created')</script>
            {% endif %}
            {%csrf_token%}
            <table class="table form-emboss">
                <tr>
                    <td>Department Name</td>
                    <td><input type="text" name="department_name" id="department_name"> </td>
                </tr>
                <tr>
                    <td>Department Strength</td>
                    <td><input type="text" name="department_strength" id="department_strength"> </td>
                </tr>
                <tr>
                    <td>Department Location</td>
                    <td><input type="text" name="department_location" id="department_location"> </td>
                </tr>
                <tr>
                    <td>Department Head</td>
                    <td><input type="text" name="department_head" id="department_head"> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Create"></td>
                </tr>
            </table>
        </form>
    </div>

</div>

{% endblock content %}