<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>signup</title>
</head>
<body>
 <div class="wrap">
<form>
         <input type="text" name="username" placeholder="Username"><br><br>
         <input type="text" name="email" placeholder="Email"><br><br>
         <input type="password" name="password" placeholder="Password"><br><br>
         <input type="password" name="confirmpassword" placeholder="Confirm password"><br>
         <br>
        <br>
<input type="radio"name="male" value="male">Male
<input type="radio"name="female" value="female">Female<br><br>
<input type="checkbox"> I Agree to The Terms of Use
<br><br>
    <button type="submit" class="btn btn-primary">Sign up</button>































<script src="/assets/js/jquery.js"></script>
    <script src="/assets/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</form></div></body>
</html>





